.sidebar{
    position: relative;
    width: var(--sidebar-uncollapsed);
    background: var(--inverted-bg-color);
    height: calc(100vh - var(--headerHeight));
    padding-left: 15px;
    transition: width .3s ease-in;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;

    &__link{
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        svg{
            fill:var(--inverted-primary-color);
            font-size: var(--font-size-l);
        }

        span{
            margin-left: 15px;
            font:var(--font-l);
            transition: all .3s linear;
        }
    }
}

.collapsed{
    width: var(--sidebar-collapsed);

    .menu{
        &__link{
            span{
                opacity: 0;
                width: 0;
                transition: all .3s linear;
            }
        }
    }
}

.collapsedBtn{
    position: absolute;
    right: -40px;
    bottom: 40px;
}



.switchers{
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    &__first{
        margin-bottom: 20px;
    }
}