.appLink{
    display: inline-block;
    text-decoration: none;
}

.primary{
    color:var(--primary-color);
}

.secondary{
    color:var(--secondary-color);
}

.inverted-primary {
    color:var(--inverted-primary-color);
}